/* EditForm =========================================================== */

.edit-task {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    backdrop-filter: blur(7px);
}
.edit-task form {
    flex: 0 1 800px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    background-color: rgb(121, 118, 118);
    padding: 60px 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(107, 107, 107);
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease 0.01s;
}
.edit-task .hidden {
    transform: scale(0);
    transition: all 0s ease 0.3s;
}
.edit-task .hidden-form {
    transform: scale(0);
}
.edit-task__form::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgba(58, 238, 229, 0.767);
    border-radius: 10px 10px 0 0;
}
.edit-form__name {
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(252, 15, 15);
}
.edit-form__closing-button {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.edit-form__closing-button::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(252, 15, 15);
    transform: rotate(-45deg);
    border-radius: 10px;
}
.edit-form__closing-button::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(252, 15, 15);
    transform: rotate(45deg);
    border-radius: 10px;
}
.edit-task__form label {
    display: block;
    font-family: Poppins;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.edit-task__form input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 20px;
    border: 2px solid rgb(110, 110, 110);
}
.edit-task__form input:focus {
    box-shadow: 0 0 5px rgb(110, 110, 110);
}
.edit-task__form textarea {
    resize: none;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(110, 110, 110);
}
.edit-form__title {
    position: relative;
}
.edit-form__due-date {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}
.edit-form__due-date > label {
    color: #fff;
    cursor: pointer;
}
.edit-form__due-date input {
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.edit-form__priority {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    column-gap: 45px;
}
.edit-form__priority > label {
    color: #fff;
}
.edit-form-priority__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 15px;
    position: relative;
}
.edit-form-priority__buttons input[type=radio] {
    width: 1px;
    height: 1px;
    opacity: 0;
    padding: 0;
    position: absolute;
}
.edit-form-priority__buttons > label {
    display: block;
    height: 35px;
    margin-bottom: 0;
    min-width: 100px;
    background-color: inherit;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.edit-form-priority__low {
    color: rgb(51, 238, 44);
    border: 2px solid rgb(51, 238, 44);
}
.edit-form-priority__low:hover {
    background-color: rgb(51, 238, 44);
    color: rgb(121, 118, 118);
}
#edit-low:checked + label {
    background-color: rgb(51, 238, 44);
    color: rgb(121, 118, 118);
}
.edit-form-priority__medium {
    color: rgb(233, 213, 32);
    border: 2px solid rgb(233, 213, 32);
}
.edit-form-priority__medium:hover {
    background-color: rgb(233, 213, 32);
    color: rgb(121, 118, 118);
}
#edit-medium:checked + label {
    background-color: rgb(233, 213, 32);
    color: rgb(121, 118, 118);
}
.edit-form-priority__high {
    color: rgb(240, 120, 23);
    border: 2px solid rgb(240, 120, 23);
}
.edit-form-priority__high:hover {
    background-color: rgb(240, 120, 23);
    color: rgb(121, 118, 118);
}
#edit-high:checked + label {
    background-color: rgb(240, 120, 23);
    color: rgb(121, 118, 118);
}
.edit-form__submit {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.edit-form__submit button {
    height: 35px;
    min-width: 100px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(121, 118, 118);
    border: 2px solid rgb(92, 214, 245);
    background-color: rgb(32, 197, 238);
    box-shadow: 0px 2px rgb(161, 161, 161);
}
.edit-form__submit button:hover {
    box-shadow: 0 0 5px rgb(32, 197, 238);
}
.edit-form__submit button:active {
    position: relative;
    top: 1px;
}


/* Validation styles */
.edit-task .invalid {
    border: 2px dashed rgb(247, 90, 90);
}
.error-paragraph {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: rgb(247, 224, 224);
}
.error-paragraph__shifted {
    left: 160px;
}